<a href="https://colab.research.google.com/github/4kang/sukiruUP-1/blob/main/4%E7%AB%A0_%E5%88%B6%E5%BE%A1%E6%A7%8B%E9%80%A0%E3%83%84%E3%83%BC%E3%83%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# if,elif,else

x = int(input("Please enter an integer: ")) #入力コード

Please enter an integer: 45

In [ ]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [ ]:
score = 100

if score == 100:
  print("良い点数です")
elif score >= 50:
  print('もう少し頑張りましょう')
else:
  print("ダメです")

良い点数です

In [6]:
print("123はアルファベットですか？", "123".isalpha())
print("abcはアルファベットですか？", "abc".isalpha())

123はアルファベットですか？ False
abcはアルファベットですか？ True

In [ ]:
a = 30

if a % 15 == 0: #15の倍数なら
  print(str(15))
elif a % 3 == 0:
  print(str(3))
elif a % 5 == 0:
  print(str(5))
else:
  pass

15

In [3]:
a = 10 #変数aに数値を設定する

if a == 100: #aと100が等しいときtrueとして成立する
    print("100点満点です")
else: #100と等しくない場合はfalseで返す
    print("頑張りましょう")

頑張りましょう

In [4]:
string = input("文字を入力してください：")

文字を入力してください：333

In [5]:
if string.isdecimal(): #isdecimal()は文字列が数字ならtrue、数字以外の文字ならfalseで返す
     print(string, "は数字です")
else:
    print(string, "は数字ではありません")

333 は数字です

In [ ]:
a = 10
if a > 10:
  a /= 2
  print(a)
else:
  a += 1
  print(a)

11

In [ ]:
#比較演算子
a = 80
if a > 10:
  print("OK")

OK

In [ ]:
#in演算子
if "a" in ["a", "b", "c"] :
  print("OK")

OK

In [ ]:
#論理演算子

time = 14

if time < 18 and time > 10:
  print("就業時間です")

就業時間です

In [ ]:
# andの省略
if 10 < time < 18:
  print("就業時間です")

就業時間です

In [ ]:
time = 15

if time == 15 or time == 18:
  print("おやつの時間です")

おやつの時間です

In [7]:
# not演算子

a = 20 #aは20

if not (a < 10): #a(20)は10より小さい(false→true)
  print("乗車できます")

乗車できます

In [ ]:
#　for文
words = ["cat", "window", "defenestrate"]

# wordsリスト内にある文字列と文字列の数を表示させる
for w in words:
  print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
lenth = ["xiao", "zhonli", "lumine"]

for g in lenth:
  print(g)

xiao
zhonli
lumine

In [ ]:
#反復可能体(イテラブル)
for s in "Genshinimpact":
  print(s)

G
e
n
s
h
i
n
i
m
p
a
c
t

In [ ]:
# サンプルコレクションを作成する
users = {"Hans": "active", "Eleonore": "inactive", "啓太郎": "active"}

# 戦略: コピーを反復処理する
for user, status in users.copy().items():
  if status == "inactive":
    del users[user]

# 戦略: 新しいコレクションを作成する
active_users = {}
for user, status in users.items():
  if status == "active":
    active_users[user] = status

In [ ]:
# range()　関数

for i in range(5): #0～4まで出力
  print(i)

0
1
2
3
4

In [ ]:
for g in range(12):
  print(g)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# range()の数値を指定
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [ ]:
# range()とlen()
a = ["Mary", "had", "a", "little", "lamb"]

for i in range(len(a)):
  print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
arc = ["クロノア", "ミネルヴァ", "ライザ", "リオセスリ"]

for f in range(len(arc)):
  print(f, arc[f])

0 クロノア
1 ミネルヴァ
2 ライザ
3 リオセスリ

In [ ]:
range(10)

range(0, 10)

In [ ]:
sum(range(4)) #0 + 1 + 2 + 3

6

In [ ]:
# break文
for n in range(2, 10):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'equals', x, '*', n//x)
      break
  else:
    print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for y in range(35):
  if y == 15:
    break
  print(y)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [12]:
# while文

answer = "" #初期値として""を設定する

while answer != "3825":
  # 数字を入力する
    answer = input("番号を入力してください：")
    print(answer, "と入力されました")

print("扉があいた")

番号を入力してください：3825
3825 と入力されました
番号が違うようだ
扉があいた

In [13]:
con = 1 #現在、何回目かを記録する変数

while con <= 5: #conの値が5以下なら繰り返す
    text = input("数字を入力してください：")
    number = int(text) #入力した数値を文字列化
    print(con, "回目：", number * number) #入力した数値の2乗を表示
    con = con + 1 # 1を足す

print("終了しました")

数字を入力してください：１
1 回目： 1
数字を入力してください：１０
2 回目： 100
数字を入力してください：１２８
3 回目： 16384
数字を入力してください：２５６
4 回目： 65536
数字を入力してください：５１２
5 回目： 262144
終了しました