<a href="https://colab.research.google.com/github/4kang/sukiruUP-1/blob/main/%E3%83%A9%E3%83%A0%E3%83%80%E5%BC%8Fetc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#lamba(ラムダ)式

In [2]:
#定番式
a = lambda x: x ** 2

print(a(10)) #a(x)

100

In [ ]:
b = lambda y: y ** 2

print(b(20)) #b(y)

#関数の引数に関数をわたす場合

In [2]:
i_num_list = range(1,11) #i_num_list変数にrange関数を代入

'''list()でリストに変換'''
s_num_list = list(map(lambda i: "No." + str(i), range(1,11)))
print("文字列リスト", s_num_list)

文字列リスト ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [3]:
i_num_list = range(1, 11)

'''1から10の数値のリスト(i_num_list)が与えられたとき、
   No.1、No.2のように数字入り文字列のリストに変換した場合'''

s_num_list = list(map(lambda x: "No." + str(x), i_num_list))
print("文字列リスト", s_num_list)

文字列リスト ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']