<a href="https://colab.research.google.com/github/4kang/sukiruUP-1/blob/main/%E9%96%A2%E6%95%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#関数定義

In [ ]:
'''関数開始'''
def standard_arg(arg):
  print(arg)
'''関数終了'''

standard_arg(2)

2

In [ ]:
def pos_arg(arg, /):
  print(arg)

pos_arg(2)

2

In [ ]:
def keyword_arg(*, arg):
  print(arg)

keyword_arg(arg = 3)

3

In [ ]:
def combined_ex(pos, /, standard, *, keyword):
  print(pos, standard, keyword)

combined_ex(3, 4, keyword=6)

3 4 6

In [ ]:
def two_name(name, /, **kwds):
  return "name" in kwds

two_name(1, **{"name": 2})

True

In [ ]:
def parrot(voltage, state="a stiff", action= "voom"):
  print("-- これはどうですか", action, end=" ")
  print("もしも", voltage, "どどど", end = " ")
  print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin demised", "action": "VOOM"}
parrot(**d)

-- これはどうですか VOOM もしも four million どどど E's bleedin demised !

In [ ]:
i = 5

def f(arg=i):
  print(arg)

i = 6
f()

5

In [ ]:
i = 6

def f(arg=i):
  print(arg)

i = 7
f() #結果は6

6

In [ ]:
def f(a, L=[]):
  '''デフォルト値が空のリスト。
  空のリストに要素を追加し変更する'''
  L.append(a)
  return L

print(f(1))
print(f(2))
print(f(3))
print(f(4))
print(f(5))

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
def f(a, L=None):
  '''デフォルト値の共有なし'''
  if L is None:
    L = []
  L.append(a)
  return L

print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

In [ ]:
#1章3節5項より1章2節3-4項は後であるか？
(1,2,5)<(1,2,3,4)

False

In [ ]:
(1,2,3)!=(1,2,3,4)

True

In [ ]:
#1章3節5項より1章2節3-4項は後であるか？
(1,2,3)<(1,2,3,4)

True

#何もしない関数(pass文)

In [ ]:
def my_func(): #関数の書き方
  pass

my_func() #何も表示しない
my_func

In [ ]:
def my_func(x):
  pass

my_func(1)

#値を返す関数(return)

In [ ]:
''' def 関数名(引数名1, 引数名2, ...): '''
def xha(x):
  return x #受け取った値を返す

xha("test") #受け取った値

'test'

In [ ]:
def by_y(a):
  return a

by_y("パンツ")

'パンツ'

In [ ]:
def g_pro(x):
  return x

g_pro("ここがreturunを受け取る値")

In [ ]:
def trpeo_as(v):
  return v

trpeo_as(123)

123

#リストを生成する関数

In [ ]:
def g_pro(x):
  result = [0] #リストを作成
  return result * x

g_pro(3)

[0, 0, 0]

In [ ]:
def wer_i(i):
  list = [0]
  return list * i

wer_i(5)

[0, 0, 0, 0, 0]

In [ ]:
def list_kan(x):
  list = [2]
  return list * x

list_kan(10)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

#リストを変更する関数

In [ ]:
''' 関数開始 '''
def tca(x=list):
  x.append(5)
  x.append(6)
  x.append(7)
''' 関数終了 '''

list = [1,2,3,4]
#tca(list)

list

[1, 2, 3, 4]

In [ ]:
def mkn(x):
  x.append(4)

my_list = [1,2,3]
mkn(my_list)

my_list

[1, 2, 3, 4]

#フィボナッチ数列

In [ ]:
def feb(n):
  a, b = 0, 1
  while a < n:
    print(a, end=" ")
    a, b = b, a+b

feb(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
#リストに格納
def fib3(n):
  a,b = 0,1
  list = [] #空のリスト
  while a < n: #aはnより小さい時、フィボナッチ数列をリストで返す
    list.append(a) #appendでlistの要素を追加
    a, b = b, a+b #0, 1 = 0 , 1 + 0
  return list #戻り値はlist

fib3(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def fib(n):
  list = []
  a, b = 0, 1
  while a < n:
    list.append(a)
    a,b = b, a+b
  return list

fib(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def fib2(n):
  a, b = 0, 1
  list = []
  while a < n:
    list.append(a)
    a, b = b, a+b
  return list

fib2(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def fib_nch(n):
  '''最大 n までのフィボナッチ数列を出力します'''
  a, b = 0, 1
  while a < n:
    print(a, end = " ")
    a, b = b, a+b #aの変数が更新されていく

fib_nch(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [ ]:
def fib0(n):
  list = []
  a, b = 0, 1
  while a < n :
    list.append(a)
    a, b = b, a+b
  return list

fib0(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [ ]:
def hib(n):
  a, b = 0, 1
  while a < n:
    print(a, end=" ")
    a, b = b, a+b

hib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

#キーワード引数

In [ ]:
def house(bedroom, walk, type, yatin):
  return {"ベッド部屋": bedroom, "距離": walk,"家の名前": type, "家賃": yatin}

house(bedroom=2, walk=15, type="アパート", yatin=50)

{'ベッド部屋': 2, '距離': 15, '家の名前': 'アパート', '家賃': 50}

In [ ]:
def parrot(voltage, state = "a stiff", action = "voom", type="Bule"):
  print("-- This parrot wouldn't", action, end = ' ')
  print("if you put", voltage, "volts through it.")
  print("-- Lovely plumage, the", type)
  print("--It's", state, "!")

parrot(1000, action="パンチ", type="青")

-- This parrot wouldn't パンチ if you put 1000 volts through it.
-- Lovely plumage, the 青
--It's a stiff !

In [ ]:
def io(age, maryoku = "そこそこ", tokugi = "ケーキを作る"):
  print("私の名前はイオです。年齢は", age, "歳です")
  print("魔力は", maryoku, "です")
  print("特技は", tokugi, "ことです")
  print("よろしくお願いいたします。")

io(14, maryoku = "かなりある", tokugi = "火の魔法を操る")

私の名前はイオです。年齢は 14 歳です
魔力は かなりある です
特技は 火の魔法を操る ことです
よろしくお願いいたします。

In [ ]:
def cheeseshop(kind, *arguments, **keywords):
  print("--Do you have any", kind, "?")
  print("-- I'm sorry, we're all out of", kind)
  for arg in arguments:
    print(arg)
  print("-" * 40)
  for kw in keywords:
    print(kw, ":", keywords[kw])

cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

--Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [ ]:
def kougi(io, *filtween, **jack):
  print("調子はどうですか？", io)
  print("はい", io, "は元気だよ・・・！")
  for arg in filtween:
    print(arg)
  print("-" * 40)
  for kw in jack:
    print(kw, ":", jack[kw])

kougi("Tereze", "彼女は走った",
      "彼女は楽しそうだった",
      shop="買い物をした",
      client="クライアント",
      sketch="店スケッチ")

調子はどうですか？ Tereze
はい Tereze は元気だよ・・・！
彼女は走った
彼女は楽しそうだった
----------------------------------------
shop : 買い物をした
client : クライアント
sketch : 店スケッチ

#位置引数のタプル化

In [ ]:
def b(*defg, sep="/"):
  return sep.join(defg)

b("マグロ","鮭","おかか")
b("ピカチュウ","ニャース","ピチュー",sep=".")

'ピカチュウ.ニャース.ピチュー'

In [ ]:
def a(*abc):
  print("与えられた複数の位置引数をタプルにまとめて受け取る→", abc)
  #そのタプルを表示して返す
  return abc

a(1,2,3,"da!")

与えられた複数の位置引数をタプルにまとめて受け取る→ (1, 2, 3, 'da!')

(1, 2, 3, 'da!')

#引数リストのアンパック

In [5]:
args = [3, 6] #args変数にリストを宣言

list(range(*args))

[3, 4, 5]

In [12]:
args = [0,10,2]

list(range(*args))

[0, 2, 4, 6, 8]

In [1]:
bbb = [3, 6]
list(range(*bbb))

[3, 4, 5]

In [14]:
dec = [
    ["キアナ", "メイ", "ブローニャ"],
    ["ゼーレ", "フカ", "姫子"],
    ["エリシア", "メビウス", "アポニア"]
]

print(list(zip(*dec)))

[('キアナ', 'ゼーレ', 'エリシア'), ('メイ', 'フカ', 'メビウス'), ('ブローニャ', '姫子', 'アポニア')]

In [4]:
def dive_code(teacher, *mentor):
  print(teacher)

dive_code("Kakao", "Noro", "Nakao", "Momoko")

dic = [
    ["Noro", "Nakao", "Momoko"],
    ["kimura", "Miyashita", "Shibata"],
    ["Matsumoto", "Tanaka", "Sato"]
]
'''zip()は複数のイテラブルオブジェクト（リストやタプルなど）の要素をまとめる関数'''
print(list(zip(*dic)))

Kakao
[('Noro', 'kimura', 'Matsumoto'), ('Nakao', 'Miyashita', 'Tanaka'), ('Momoko', 'Shibata', 'Sato')]

#ラムダ式

In [ ]:
"""lambda <引数>:<式>
与えられた数値の2乗を返す"""
func = lambda x : x ** 2

print(func(10))

100

In [ ]:
a = lambda n : n ** 2

print(a(100))

10000

In [ ]:
lam = lambda y : y + 10

print(lam(20))

30

In [ ]:
def make(n):
  return lambda x : x + n

f = make(42)
f(0)

42

In [ ]:
f(1)

43

#関数の引数に関数を渡す

In [ ]:
i_num_list = range(1, 11) #1～10
'''1から10の数値のリスト(i_num_list)が与えられたとき、
No.1、No.2のように'''
s_num_list = list(map(lambda i: "No." + str(i), i_num_list))
print("文字列リスト:", s_num_list)

文字列リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [ ]:
for s in map(lambda i: "No." + str(i), range(1, 11)):
  print(s, end=" ")

No.1 No.2 No.3 No.4 No.5 No.6 No.7 No.8 No.9 No.10

In [ ]:
for n in map(lambda i: "No." + str(i), range(1, 11)):
  print(n, end="/")

No.1/No.2/No.3/No.4/No.5/No.6/No.7/No.8/No.9/No.10/

In [ ]:
#偶数だけ取得
for k in filter(lambda m: m%2==0, range(1,11)):
  print(k, end=" ")

2 4 6 8 10

In [ ]:
#defの場合
def even(x):
  return x % 2 == 0

for k in filter(even, range(1, 11)):
  print(k, end=" ")

2 4 6 8 10

#sortとkey

In [ ]:
par = [(1, "one"), (2, "two"), (3, "three"), (4, "four")]

#list.sort()
par.sort(key=lambda par : par[1])
par

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
pai =[(1, "one"), (2, "two"), (3, "three"), (4, "four")]

pai.sort(key=lambda pai : pai[1], reverse=True)
pai

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]